<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form action="/changePasswordAction" method="post">
    <div><label> Old Password : <input type="password" name="old_password"/> </label></div>
    <div><label> New Password: <input type="password" name="password"/> </label></div>
    <span style="color:red" th:text = "${errorMessage}" />
    <div><input type="submit" value="Change Password"/></div>
</form>
</body>
</html>