<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <style>
        body {
            background-color: #FF8C00;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
        input {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            padding: 5px;
            margin: 10px;
            border: 2px solid black;
            background-color: white;
            border-radius: 15px;
        }
    </style>
</head>
<body>
<form action="/changePasswordAction" method="post">
    <div><label> Старый пароль: <input type="password" name="old_password"/> </label></div>
    <div><label> Новый пароль: <input type="password" name="password"/> </label></div>
    <span style="color:red" th:text = "${errorMessage}" />
    <div><input type="submit" value="Сменить пароль"/></div>
</form>
</body>
</html>