<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>error page</title>
    <style>
        body {
            background-color: #FF8C00;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
        img {
            height: 200px;
        }
        h1 {
            margin-bottom: -20px;
        }
    </style>
</head>
<body>
<h1>Что-то сломалось :(</h1></br>
<img src="https://sun9-74.userapi.com/impg/dO4j3Zhdd0KSOt95YEdJpWDKmg23NPv6CIudtg/EAYNmHBNf7E.jpg?size=841x677&quality=96&sign=eaa91467a40a216393af496ad7434058&type=album">
<h1>Я обязательно починю ;)</h1></br>
<img src="https://sun9-61.userapi.com/impg/r4r2K3r8P2vDUEmHA29culmjWWYsXjDBZ0Lv8g/tTLRxBy8g_Q.jpg?size=640x478&quality=96&sign=e7dd6456453031bcd19180826ec62639&type=album">
</body>
</html>