<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>home page</title>
    <style>
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
    </style>
</head>
<body>
<h1>Welcome!</h1>
<p>Нажмите <a href="/login">здесь</a> для авторизации.</p>
<p>Нажмите <a href="/registration">здесь</a> для регистрации.</p>
<p><a href="/main">личный кабинет</a></p>
</body>
</html>