<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>home page</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');
        body {
            background-color: #FF8C00;
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
        .logo {
            color: white;
            font-family: 'Suez One', serif;
            font-size: 60px;
        }
    </style>
</head>
<body>
<span class="logo">Donald Truck</span>
<h1>Приветствуем!</h1>
<p>Нажмите <a href="/login">здесь</a> для авторизации.</p>
<p>Нажмите <a href="/registration">здесь</a> для регистрации.</p>
<p><a href="/main">личный кабинет</a></p>
</body>
</html>