<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>OrderPage</title>
    <style>
        body {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
        input {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        }
    </style>
</head>
<body>
<script>
        function getTodaysDate(){
        date = new Date();
        day = date.getDate();
        month = date.getMonth() + 1;
        month2 = date.getMonth() + 4;
        year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (month2 < 10) month2 = "0" + month2;
        if (day < 10) day = "0" + day;
        today = year + "-" + month + "-" + day;
        today2 = year + "-" + month2 + "-" + day;
        document.getElementById('targetDate').setAttribute('min', today);
        document.getElementById('targetDate').setAttribute('max', today2);
    }
</script>
<h1>Готовы принять ваш заказ!</h1>
<p>Если в адресе указан многоквартирный дом, то заполнение поля "Квартира" является обязательным,
    в ином случае поле может остаться незаполенным</p>
<form action="/makeOrderAction" method="post">
    <div><label> Населённый пункт<a style="color:red">*</a> : <input type="text" name="city" th:value="${city_paste}"/> </label> <span style="color:red" th:text = "${city}" /></div>
    <div><label> Улица<a style="color:red">*</a> : <input type="text" name="street" th:value="${street_paste}"/> </label> <span style="color:red" th:text = "${street}" /></div>
    <div><label> Дом<a style="color:red">*</a> : <input type="text" name="building" th:value="${building_paste}"/> </label> <span style="color:red" th:text = "${building}" /></div>
    <div><label> Квартира : <input type="number" name="apartment" min="1" th:value="${apartment_paste}"/> </label></div>
    <div><label> Дата<a style="color:red">*</a> : <input type="date" name="targetDate" id="targetDate" oninput="getTodaysDate()" th:value="${targetDate_paste}"/> </label> <span style="color:red" th:text = "${targetDate}" /></div>
    <div><label> Количесвто грузчиков<a style="color:red">*</a> : <input type="number" min="1" max="3" required name="numberOfWorkers" th:value="${numberOfWorkers_paste}"/> </label> <span style="color:red" th:text = "${workers}" /></div>
    <div><label> Тип автомобиля<a style="color:red">*</a> :
    <select size="3" name="truckDescription">
        <option value="Жёсткий 4м/2.2м/2м Груз 1500кг" selected="selected">Жёсткий 4м/2.2м/2м Груз 1500кг</option>
        <option value="Тент 3м/1.5м/2м Груз 950кг">Тент 3м/1.5м/2м Груз 950кг</option>
        <option value="Жёсткий 1.6м/1м/1м Груз 500кг">Жёсткий 1.6м/1м/1м Груз 500кг</option>
    </select>
    </label> <span style="color:red" th:text = "${truck}" /></div>
    <div><input type="submit" value="принять"/></div>
</form>
</body>
</html>